{% extends 'base.html.twig' %}

{% block title %}Agence B{% endblock %}

{% block body %}
    <h1>Agence B</h1>
        <div class="container">
            <div class="row">
                {% for agenceB in agenceB %}
                    <div class="col-12 col-md-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <img src="https://picsum.photos/300/200" class="Hero-new"/>
                                    <p><span class="bold"> Nom : </span>{{ agenceB.nom }}</p>
                                    <p><span class="bold"> Prénom : </span>{{ agenceB.prenom }}</p>
                                    <p><span class="bold"> Entreprise : </span>{{ agenceB.entreprise }}</p>
                                    <p><span class="bold"> Email : </span>{{ agenceB.email }}</p>
                                    <p><span class="bold"> Tel : </span>{{ agenceB.tel }}</p>
                                </div>
                            </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}