{% extends 'base.html.twig' %}

{% block title %}Clients{% endblock %}

{% block body %}
    <h1>Clients</h1>
        <div class="container">
            <div class="row">
                {% for clients in clients %}
                    <div class="col-12 col-md-6">
                            <div class="card mb-4">
                                <div class="card-header">
                                    <img src="https://picsum.photos/300/200" class="Hero-new"/>
                                    <p><span class="bold"> Nom : </span>{{ clients.nom }}</p>
                                    <p><span class="bold"> Prénom : </span>{{ clients.prenom }}</p>
                                    <p><span class="bold"> Adresse : </span>{{ clients.adresse }}</p>
                                    <p><span class="bold"> Email : </span>{{ clients.mail }}</p>
                                    <p><span class="bold"> Tel : </span>{{ clients.tel }}</p>
                                    <p><span class="bold"> Numéro Client : </span>{{ clients.numeroClient }}</p>
                                    <p><span class="bold"> Numéro Facture : </span>{{ clients.numeroFacture }}</p>
                                </div>
                            </div>
                    </div>
                {% endfor %}
            </div>
        </div>
{% endblock %}