<div class="card mb-4">
    <div class="card-header">
    <img src="https://picsum.photos/300/200" class="Hero-new"/>
        <h2 class="black">{{ articles.title }}</h2>
        <small class="black">{{ articles.createdAt|date('d/m/Y') }}</small>
    </div>
    <div class="card-body">
        {{ articles.content|u.truncate(200, '...') }}
    </div>
    <div class="card-footer">
        <a href="{{ path('articles_show', {id: articles.id}) }}" class="btn btn-link red">Lire la suite</a><hr>
        {% for comments in articles.comments %}
            <div>
            <p>{{ comments.content }} </p><small class="black">{{ comments.createdAt|date('d/m/Y') }}</small>
            </div>
        {% endfor %}
    </div>
</div>